@{
    ViewBag.Title = "_MainLayout";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style/Style.css" />
</head>
<body>
    <nav>
        <div class="outsideNavBox">
            <div class="innerNavBox">
                @Html.ActionLink("Home", "Index", "Home");
                @Html.ActionLink("Calendar", "Announcements", "Home");
                @Html.ActionLink("Profile", "Profile", "Home");
                @Html.ActionLink("About", "AboutUs", "Home");
                @Html.ActionLink("Life", "SchoolLife", "Home");
                @Html.ActionLink("Staff", "Faculty", "Home");
            </div>
        </div>
    </nav>
    <div class="content">
        <img src="~/Content/images/nav-corner.png" class="navCorner"/>
        <div class="pageTitle">
            @RenderSection("pageTitle")
        </div>
        <div class="outsideContentBox">
            <div class="innerContentBox">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
